<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
  </head>
  <body style="padding: 5px;">
    <% include partials/menu %>
    <div class="container jumbotron">
        
      <h1 style="text-align: center">Work Web Programming</h1>
      <h1 style="text-align: center">Graduate in Software Engineering - UFSCar</h1>
      <hr />
      <h2 style="text-align: center">SysCompany</h3>
      <h3>Prof:</h3>
      <hr />
      <h5>Kleber</h5>
      <br />
      <h3>Members:</h3>
      <hr />
      <h5>Amanda Miranda</h5>
      <h5>Mariana Gonçalves</h5>
      <h5>Tatiane Vieira</h5>
      <h5>Vitor Ricardo</h5>
    </div>
  </body>
</html>
